<!-- Information about the html coding below was founded from the html tutorial from this page  https://www.w3schools.com/html/default.asp -->
<div class="container">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <h2 class="text-center">About Khumalo Craft</h2>
            <hr>
            <p>Khumalo Craft Emporium is a global e-commerce platform dedicated to showcasing exquisite handcrafted products from artisans around the world. Founded by visionary entrepreneur James Khumalo, our mission is to connect talented artisans with a discerning audience who appreciate craftsmanship and authenticity.</p>
            <p>At Khumalo Craft, we celebrate diversity and creativity, offering a curated collection of artisanal products ranging from traditional handicrafts to contemporary designs. Each item tells a story of craftsmanship, culture, and passion, reflecting the rich heritage of its creator.</p>
            <p>Our commitment to sustainability drives our practices, ensuring that every purchase made through Khumalo Craft supports fair trade principles and empowers artisans to thrive economically. We believe in fostering meaningful connections between artisans and consumers, promoting cultural exchange, and preserving traditional craftsmanship for future generations.</p>
            <p>Join us on our journey to discover the beauty of handmade craftsmanship and make a positive impact on communities worldwide. Explore our collection and experience the artistry behind Khumalo Craft.</p>
            <hr>
            
        </div>
    </div>
</div>




